@charset "utf-8";
@import "~swiper/dist/css/swiper.min.css";

/* SK TechX - Base 1.0 */
html,body,form,div,p,dl,dt,dd,ul,ol,li,fieldset,th,td,button,blockquote{margin:0;padding:0;border:0;font-size:100%;font:inherit;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body{-webkit-text-size-adjust:none;}
input,textarea,select,button{font:inherit;vertical-align:middle;padding:0;}
input[type='button'],input[type='text'],input[type='image'],input[type='submit'],input[type='password'],textarea{-webkit-appearance:none;border-radius:0;}
input[type='checkbox']{-webkit-appearance:checkbox;}
input[type='radio']{-webkit-appearance:radio;}
textarea{resize:none;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
img,fieldset,iframe{border:none;}
address,cite,code,dfn,em,var,th,i{font-style:normal;font-weight:normal;}
a{text-decoration:none;}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
a, button{cursor:pointer;background:transparent;}
hr{display:none;}

/* Scroll Wrapper */
.swiper-container {width:100%;height:100%;}
.swiper-slide {height:auto;box-sizing:border-box;}
